@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #137fec;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101922;
  --font-display: "Inter";
  --radius: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}

@layer base {
  body {
    font-family:
      var(--font-display),
      system-ui,
      -apple-system,
      "Segoe UI",
      sans-serif;
  }
}

.animate-opacity{
  animation: fadeOpacity 0.4s ease;
}

@keyframes fadeOpacity {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.4s ease;
  animation-fill-mode: both;
}

.fade-in-delay-1 {
  animation-delay: 0.1s;
}

.fade-in-delay-2 {
  animation-delay: 0.8s;
}

.fade-in-delay-3 {
  animation-delay: 1.4s;
}

.fade-in-delay-4 {
  animation-delay: 2.0s;
}

.fade-in-delay-5 {
  animation-delay: 2.6s;
}

@keyframes fadeIn {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.gradient-bg {
  background: radial-gradient(circle at 50% 50%, #f6f7f8 0%, #e9edf1 100%);
}

.dark .gradient-bg {
  background: radial-gradient(circle at 50% 50%, #1a2a3a 0%, #101922 100%);
}
